<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.hzk.mydap.mapper.ds2.StudentMapper">

    <select id="queryAll" resultType="long">
        select count(*) from STUDENT;
    </select>

<!--    <select id="queryDictBeanByDmlb" resultType="com.hzk.mydap.dict.model.DictBean">-->
<!--        select dmlb,dm as ybh,dmsm,bz,xh,sfsy-->
<!--        from T_ITGS_CODE-->
<!--        where dmlb = #{dmlb}-->
<!--    </select>-->
</mapper>